<h1 class="text-center text-white">Editing User</h1>

<%= form_for(@user) do |f| %>

<div class="container form-container  w-50 bg-white p-5 ">
    <%= render  "shared/errors", obj: @user %>
    <div class="form-group">
        <%= f.label :name  %>
        <%= f.text_field :name,class: "form-control",:aria=>{:describedby=> "nameHelp"}, :placeholder=> "What's your name?" %>
        <small id="nameHelp" class="form-text text-muted">Name must be unique and between (5-15) characters.</small>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", :placeholder=> "Enter your email." %>
    </div>
    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", :placeholder=> "Enter your password." %>
    </div>
    <div class="text-center">
        <%= f.submit "Update" , class: "btn btn-lg btn-info" %>
    </div>
    <% end %>
</div>
<div class="text-center mt-5">
    <%= link_to 'Back', user_path(@user) , class: "text-center btn btn-dark" %>
</div>