<!DOCTYPE html>
<html>

<head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to  "Blogger", root_path, class: "navbar-brand h1" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to "All articles", articles_path, class: "dropdown-item" %>
                        <%= link_to "All users", users_path, class: "dropdown-item" %>
                        <%= dropdown%>
                    </div>
                </li>
                <li>
                    <% if !session[:current_user].nil?%>
                    <%= link_to "#{session["current_user"]["name"]}", user_path(session["current_user"]["id"]), class: "btn btn-success" %>
                    <% end %>
                </li>
            </ul>

        </div>
    </nav>
    <section class="mx-auto my-3 container-fluid bg-secondary">
        <%= yield %>
    </section>

</body>

</html>